* {
        margin: 0;
        padding: 0;
    }
body {
    background-color: antiquewhite;
    background-size: cover;
    text-align: center;
    color: brown;
}

#following {background-color: lightpink;
  color: brown;}

#up { font-weight: bold; }


nav {
    width: 100%;
    height: 55px;
    background-color: palegoldenrod;
}

nav ul {
    float: right;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: arial;
    color: #222;
    font-size: 14px;
    padding: 19px 14px;
    text-decoration: none;

}


nav ul li ul {
    display: none;
    position: absolute;
    background-color: palegoldenrod;
    border-radius: 0px 4px 4px 4px;
}


input[type="submit"],input[type="reset"]
{ background-color: #e6df93;
color: brown;
font-size: 16px;
width: 150px;
border-radius: 5px;
border-style: none;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: palegoldenrod;
  color: brown;
  text-align: left;
}
